.styles-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.styles-grid.visible {
    opacity: 1;
    transform: translateY(0);
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.image-container.visible {
    opacity: 1;
    transform: scale(1);
}

.styles-grid img {
    aspect-ratio: 1 / 1;
    width: 100%;
    min-height: 350px;
    max-height: 250px;
    object-fit: cover;
}

.image-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-weight: 100;
    font-size: 25px;
}

.grid-title {
    text-align: center;
    margin: 2rem 0;
    font-size: 50px;
    font-weight: 300;
    color: #aaa;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
}

.grid-title.visible {
    opacity: 1;
    transform: translateY(0);
}
.view-more-con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.view-more-btn:hover{
    transform: scale(1.05);
}
.view-more-btn{
    display: inline-block;
    padding: 12px 2rem;
    font-size: 14px;
    color:#444;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 0.2s;
    background: #ffcc00; 
}
@media (max-width: 768px) {
    .styles-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .grid-title {
        font-size: 35px;
    }

    .styles-grid img {
        max-height: 180px;
    }

    .image-banner {
        font-size: 20px;
        height: 40px;
    }

    .view-more-con {
        height: 150px;
    }

    .view-more-btn {
        padding: 10px 1.5rem;
        font-size: 13px;
    }
}

/* Extra Small Screens (Phones) */
@media (max-width: 576px) {
    .styles-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.8rem;
    }

    .grid-title {
        font-size: 30px;
    }

    .styles-grid img {
        max-height: 200px;
    }

    .image-banner {
        font-size: 18px;
        height: 35px;
    }

    .view-more-con {
        height: 120px;
    }

    .view-more-btn {
        padding: 8px 1.2rem;
        font-size: 12px;
    }
}
